@tailwind base;

@font-face {
  font-family: 'GenEiAntique';
  src: url('/GenEiAntiqueNv5-M.ttf') format('truetype');
}

body {
  @apply bg-bluegray-100 text-bluegray-700;
}

@tailwind components;

.container-lg {
  @apply 2xl:container 2xl:mx-auto;
}

.container-sm {
  @apply max-w-3xl mx-auto;
}

.text-field {
  @apply bg-transparent text-bluegray-700 placeholder-bluegray-500 focus:outline-none focus:placeholder-bluegray-300;
}

.text-field-frame, .text-field.outlined {
  @apply bg-white rounded-md py-2 px-4 border border-bluegray-400;
}

.card {
  @apply bg-white rounded-md px-4 py-2 shadow-md;
}

.menu {
  @apply bg-white rounded-md px-0 py-2 shadow-md border border-bluegray-300 text-bluegray-700 flex flex-col items-stretch;
}

.menu-item {
  @apply text-sm text-left px-4 py-2 hover:bg-gray-200;
}

.heading {
  @apply text-bluegray-500 text-xl font-bold flex items-center px-2 my-4;
}

.heading.lined {
  @apply py-2 border-b-2 border-bluegray-400;
}

.button {
  @apply transition cursor-pointer disabled:cursor-default disabled:pointer-events-none focus:outline-none;
}

.primary-button {
  @apply bg-blue-500 text-white shadow-md py-2 px-4 rounded-md font-bold flex items-center space-x-1 hover:bg-blue-400 disabled:bg-bluegray-300 disabled:shadow-none;
}

.primary-button.not {
  @apply bg-red-500 hover:bg-red-400 disabled:bg-bluegray-300 disabled:shadow-none;
}

.icon-button {
  @apply w-16 h-16 text-xs text-bluegray-700 flex flex-col justify-center items-center space-y-1 hover:bg-bluegray-200 disabled:text-bluegray-400;
}

@tailwind utilities;

.overlay::after {
  content: '';
  @apply fixed z-10 cursor-default inset-0;
}

.fade-true-false {
  @apply opacity-0 pointer-events-none;
}
.fade-true-true {
  @apply transition ease-out opacity-100;
}
.fade-false-true {
  @apply opacity-100 pointer-events-none;
}
.fade-false-false {
  @apply transition ease-in opacity-0 pointer-events-none;
}

.drop-false {
  @apply bg-transparent;
}
.drop-true {
  @apply bg-bluegray-300;
}
