@import "tailwindcss";

@font-face {
  font-family: 'GenEiAntique';
  src: url('/GenEiAntiqueNv5-M.ttf') format('truetype');
}

body {
  @apply bg-slate-100 text-slate-700;
}

/* TODO: Do not use @utility as possible */

@utility button {
  @apply transition cursor-pointer disabled:cursor-default disabled:pointer-events-none focus:outline-none;
}

@utility primary-button {
  @apply bg-blue-500 text-white shadow-md py-2 px-4 rounded-md font-bold flex items-center space-x-1 hover:bg-blue-400 disabled:bg-slate-300 disabled:shadow-none;
}

@utility primary-button.not {
  @apply bg-red-500 hover:bg-red-400 disabled:bg-slate-300 disabled:shadow-none;
}

@utility icon-button {
  @apply w-16 h-16 text-xs text-slate-700 flex flex-col justify-center items-center space-y-1 hover:bg-slate-200 disabled:text-slate-400;
}

.overlay::after {
  content: '';
  @apply fixed z-10 cursor-default inset-0;
}
